/* 불필요한 패딩 같은거 초기화도 여기서 하는 듯*/
@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #000000;
      --foreground: #ffffff;
    }
  }

  * {
    @apply border-black dark:border-white;
  }

  body {
    @apply bg-[var(--background)] text-[var(--foreground)] min-h-screen font-sans antialiased;
    scroll-behavior: smooth;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight;
  }

  a {
    @apply transition-opacity duration-200 hover:opacity-70;
  }
}

@theme inline {
  --font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif;
  --font-mono: var(--font-geist-mono), ui-monospace, SFMono-Regular, monospace;
}
